src/.codelite/compilation.db
src/.codelite/refactoring.db
src/.codelite/subversion.conf
src/.codelite/tweaks.conf
src/.codelite/wide.tags
src/.codelite/wide.workspace.user
src/.codelite/sftp-workspace-settings.conf